{% for item in menu %}
	<li><a href="{{ path(item.link) }}">{{item.name}}</a>
		{% if item.id == 1 %}
			<ul>
			{% for category in cat %}
				<li>{{ category.name }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endfor %} 